<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/me100.png" id="logo" alt="Oskarr"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>A Maths student in love with technology.</p>
    <p>I am cool.
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
